[submodule "Bistro/vendor/spdlog"]
	path = Bistro/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bistro/vendor/glfw"]
	path = Bistro/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Bistro/vendor/imgui"]
	path = Bistro/vendor/imgui
	url = https://github.com/conbeard/imgui
[submodule "Bistro/vendor/glm"]
	path = Bistro/vendor/glm
	url = https://github.com/g-truc/glm
