[submodule "Bistro/vendor/spdlog"]
	path = Bistro/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bistro/vendor/glfw"]
	path = Bistro/vendor/glfw
	url = https://github.com/glfw/glfw
